*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Din Black", "SimHei", "Microsoft YaHei", "STXihei", "σìÄµûçτ╗åΘ╗æ", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #3d3d3d;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* 清除浮动 */
.clear::after{
    display: block;
    content: "";
    clear: both;
}

input,button{
    outline: none;
}